@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'vindey';
  src: url('/fonts/Wasted-Vindey.ttf');
}

@font-face {
  font-family: 'foundry';
  src: url('/fonts/Foundry-Sans.ttf');
}

@font-face {
  font-family: 'horizon';
  src: url('/fonts/Horizon-Bold.otf');
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #F1F0EA;
  overflow-x: hidden;
}

.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.hover-grow {
  transition: transform 0.3s ease;
}

.hover-grow:hover {
  transform: scale(1.05);
}

.scroll-smooth {
  scroll-behavior: smooth;
}
.jersey-10-regular {
  font-family: "Jersey 10";
  font-weight: bolder;
  font-style: normal;
}
